.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
}

.main {
  width: 60%;
}

.search {
  border: 1px solid #666;
  box-sizing: border-box;
  font-size: 18px;
  padding: 13px;
  width: 100%;
}

.results {
  list-style: none;
  overflow: hidden;
  margin: 5px 0 0;
  padding: 0;
}

.result {
  background: #0070f3;
  color: #eee;
  margin: 0 0 7px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.result span {
  color: #eee;
  margin-left: 10px;
}

.result img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.details {
  min-height: 100vh;
  min-width: 100vw;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-around;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}